<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="./assets/index.css" rel="stylesheet" />
</head>
<body>

  <div class="abnb-container">
    <div class="abnb-navbar">
      <div class="w-100 p-0">
        <div class="pl-5"><h1>airbnb</h1></div>
        <div class="abnb-search">
          <div class="abnb-search-input w-100 pl-4">
            <input type="text" />
            <span class="sbutton"><i class="fa fa-search-plus"></i></span>
          </div>
        </div>
        <div class="justify-content-end pr-4">
          <div class="right">
            <b class="pr-4" style="font-size: 10pt">Airbnb your home</b> <i class="fa fa-bars"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="abnb-icons">
      <img src="https://a0.muscache.com/pictures/3b1eb541-46d9-4bef-abc4-c37d77e3c21b.jpg" />
      <img src="https://a0.muscache.com/pictures/3726d94b-534a-42b8-bca0-a0304d912260.jpg" />
      <img src="https://a0.muscache.com/pictures/bcd1adc0-5cee-4d7a-85ec-f6730b0f8d0c.jpg" />
      <img src="https://a0.muscache.com/pictures/a4634ca6-1407-4864-ab97-6e141967d782.jpg" />
      <img src="https://a0.muscache.com/pictures/6b639c8d-cf9b-41fb-91a0-91af9d7677cc.jpg" />
      <img src="https://a0.muscache.com/pictures/78ba8486-6ba6-4a43-a56d-f556189193da.jpg" />
      <img src="https://a0.muscache.com/pictures/732edad8-3ae0-49a8-a451-29a8010dcc0c.jpg" />
      <img src="https://a0.muscache.com/pictures/757deeaa-c78f-488f-992b-d3b1ecc06fc9.jpg" />
      <img src="https://a0.muscache.com/pictures/c5a4f6fc-c92c-4ae8-87dd-57f1ff1b89a6.jpg" />
      <img src="https://a0.muscache.com/pictures/c8e2ed05-c666-47b6-99fc-4cb6edcde6b4.jpg" />
    </div>
    <div class="abnb-main-cont">
      <div class="main-list">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/8db6ed20-fc30-4f7e-ae90-3f860874158b.jpg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-755137040389728919/original/e85cf04c-2a57-41ac-bc69-c4eb5ff592ae.jpeg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/b7c9264d-73c9-45c3-882e-6e9577d63d68.jpg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/c596d286-57a6-460e-b6a8-9698b6f31157.jpg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/miso/Hosting-24598097/original/91290830-0db6-40c0-a23b-86a904ee5239.jpeg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/1ef9b49c-6f99-4018-95f9-8471a9fbbd15.jpg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/9cef5c15-9f3b-4159-99c8-bc8939013907.jpg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/e25a9b25-fa98-4160-bfd1-039287bf38b6.jpg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/miso/Hosting-49924321/original/f0da72bc-28b2-44bd-b3dc-9cb1e1ba946b.jpeg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/77c897ae-e66b-4b16-8e50-da04b868c3bd.jpg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/miso/Hosting-49374597/original/ee8270bd-c113-474a-97f8-f38f5c7d6047.jpeg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/miso/Hosting-40012920/original/2d811bfc-9e1b-41ae-8156-c1df534191ed.jpeg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/51f4d564-3273-4f25-843d-54e17f6a8783.jpg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/3d554f6c-6efa-422a-a5d6-6c442abe81a4.jpg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/1a0edc12-4a18-42da-b44a-42d77ea595b3.jpg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/1a0edc12-4a18-42da-b44a-42d77ea595b3.jpg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/1a0edc12-4a18-42da-b44a-42d77ea595b3.jpg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/1a0edc12-4a18-42da-b44a-42d77ea595b3.jpg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/1a0edc12-4a18-42da-b44a-42d77ea595b3.jpg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/1a0edc12-4a18-42da-b44a-42d77ea595b3.jpg?im_w=720" alt="Card image cap">
          <div class="card-body text-left">
            <h5 class="card-title">Huntington Beach, California</h5>
            <p class="card-text">
              Beach and mountain views<br />
              Jan 8 – 13<br />
              <b>$1,295</b> per night
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-footer">
    © 2023 Airbnb, Inc. · Terms · Sitemap · Privacy · Your Privacy Choices <svg style="margin: 4px 8px 0 8px" width="26" height="12" fill="none"><rect x="0.5" y="0.5" width="25" height="11" rx="5.5" fill="#fff"></rect><path d="M14 1h7a5 5 0 010 10H11l3-10z" fill="#06F"></path><path d="M4.5 6.5l1.774 1.774a.25.25 0 00.39-.049L9.5 3.5" stroke="#06F" stroke-linecap="round"></path><path d="M16.5 3.5L19 6m0 0l2.5 2.5M19 6l2.5-2.5M19 6l-2.5 2.5" stroke="#fff" stroke-linecap="round"></path><rect x="0.5" y="0.5" width="25" height="11" rx="5.5" stroke="#06F"></rect></svg> · Destinations
    <div class="d-flex position-absolute" style="right: 50px">
      <div style="margin-top: 2px"><svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 16px; width: 16px; fill: currentcolor;"><path d="m8.002.25a7.77 7.77 0 0 1 7.748 7.776 7.75 7.75 0 0 1 -7.521 7.72l-.246.004a7.75 7.75 0 0 1 -7.73-7.513l-.003-.245a7.75 7.75 0 0 1 7.752-7.742zm1.949 8.5h-3.903c.155 2.897 1.176 5.343 1.886 5.493l.068.007c.68-.002 1.72-2.365 1.932-5.23zm4.255 0h-2.752c-.091 1.96-.53 3.783-1.188 5.076a6.257 6.257 0 0 0 3.905-4.829zm-9.661 0h-2.75a6.257 6.257 0 0 0 3.934 5.075c-.615-1.208-1.036-2.875-1.162-4.686l-.022-.39zm1.188-6.576-.115.046a6.257 6.257 0 0 0 -3.823 5.03h2.75c.085-1.83.471-3.54 1.059-4.81zm2.262-.424c-.702.002-1.784 2.512-1.947 5.5h3.904c-.156-2.903-1.178-5.343-1.892-5.494l-.065-.007zm2.28.432.023.05c.643 1.288 1.069 3.084 1.157 5.018h2.748a6.275 6.275 0 0 0 -3.929-5.068z"></path></svg></div>
      <div class="ml-2"><b>English (US)</b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
      <b>$ &nbsp; USD</b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <b>Support & resources</b>
      <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4; overflow: visible; margin: 3px 0 0 5px"><g fill="none"><path d="m4 20 11.2928932-11.29289322c.3905243-.39052429 1.0236893-.39052429 1.4142136 0l11.2928932 11.29289322"></path></g></svg>
    </div>
  </div>

</body>
</html>